<div id="shopping-root">
    <div class="row">
        <div class="col s1 valign-wrapper">
            <ul id="slide-out" class="sidenav">
                <li>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">list</i>Категории
                            </div>
                            <div class="collapsible-body">
                                <form id="categories" action="#">
                                    
                                </form>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">filter_list</i>Фильтр
                            </div>
                            <div class="collapsible-body">
                                <form id="filters" action="#"></form>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">sort</i>Сортировка
                            </div>
                            <div class="collapsible-body">
                                <form id="order-rules" action="#">
                                    <p>
                                        <label>
                                            <input id="sortPriceDesc" name="sort-group" type="radio" checked="checked" />
                                            <span>expensive first</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input id="sortPriceAsc" name="sort-group" type="radio" />
                                            <span>cheap first</span>
                                        </label>
                                    </p>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger">
                <i class="material-icons" style="pointer-events: none">settings</i>
            </a>
        </div>
        <div class="col s11">
            <!-- Сюда при помощи jquery помещается шаблон grid, заполненный данными offers -->
            <div id="article-grid-container" class="row"></div>
        </div>
    </div>
</div>
<script>
    $('.sidenav').sidenav();
    $('.collapsible').collapsible();
    app.handler(function () {
        var $cartHref = $('#cart');
        return function () {
            var populateArticlesGrid = function (_filterData) {
                //Добавляем на место таблицы полосу бесконечного прогресса -
                //пока будет ожидаться ответ сервера
                preloaderShow();
                if (_filterData === undefined) {
                    _filterData =
                        { 'sort': $('form#order-rules input[type=radio]:checked').attr('id') };
                }
                $.ajax({
                    url: 'api/articles/get-filtered',
                    type: "POST",
                    data: _filterData,
                    cache: false
                }).done(function (resp) {

                    if (resp === null) {

                        window.location = "/#signin";
                    } else if (resp != null && resp.error != "") {

                        alert("error: " + resp.error);
                    } else {

                        var template = Hogan.compile(
                            '{{#data}}'
                            + '<div class="col s12 m12 l6 xl4">'
                                + '<div class="card hoverable">'
                                    + '<div class="card-image">'
                                        + '<img src="{{image_base64}}">'
                                        + '<a id="{{id}}" class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="top" data-tooltip="Add one item to cart"><i class="material-icons">add</i></a>'
                                    + '</div>'
                                    + '<div class="card-content">'
                                        + '<span class="card-title">'
                                        + '<div>{{title}} ({{Category.name}})</div>'
                                        + '<div>${{price}}</div>'
                                        + '</span>'
                                        + '<p>{{description}}</p>'
                                    + '</div>'
                                + '</div>'
                            + '</div>'
                            + '{{/data}}'
                        );
                        //Заполняем шаблон данными и помещаем на веб-страницу
                        $('#article-grid-container').html(template.render(resp));
                        $('.tooltipped').tooltip();
                        $(".btn-floating").unbind("click");
                        $('.btn-floating').click(function (ev) {
                            ev.preventDefault();
                            var artId = $(this).attr('id');
                            $.ajax({
                                url: "api/articles/fromcart"
                                , data: { 'artid': artId, 'type': "add" }
                                , type: 'GET'
                            }).done(function (resp) {
                                if (resp.error != "") {
                                    alert("error: " + resp.error);
                                } else {
                                    alert("One item added to the cart");
                                }
                            }).fail(function () {

                                alert("error");
                            });
                        });
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {

                    alert("Ошибка: " + jqXHR);
                }).always(function () {

                    preloaderHide();
                });
            }

            populateArticlesGrid();

            var populateCategoriesFilter = function () {

                //Добавляем полосу бесконечного прогресса -
                //пока будет ожидаться ответ сервера
                preloaderShow();

                $.ajax({
                    url: '/api/categories/get-all',
                    type: "GET",
                    cache: false
                }).done(function (resp) {

                    if (resp != undefined) {
                        if (resp.error != "") {
                            if (resp.error != undefined) {
                                alert("error: " + resp.error);
                            }
                        } else {

                            var template = Hogan.compile(
                                '{{#data}}'
                                + '<p>'
                                + '<label for="{{id}}">'
                                + '<input id="{{id}}" type="checkbox" /><span>{{name}}</span>'
                                + '</label>'
                                + '</p>'
                                + '{{/data}}'
                            );
                            //Заполняем шаблон данными и помещаем на веб-страницу
                            $('#shopping-root #categories').html(template.render(resp));
                        }
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {

                    alert("Ошибка: " + jqXHR);
                }).always(function () {

                    preloaderHide();
                });
            }

            populateCategoriesFilter();

            var doFilter = function () {
                var filterData = {};
                //{ categories : [ 1, 3 ]}
                var categoriesArray = new Array();
                //Перебираем все чекбоксы категорий и добавляем их в массив
                $("#shopping-root #categories input:checked").each(function () {
                    categoriesArray.push($(this).attr('id'));
                });
                //Если массив выбранных категорий не пуст -
                //добавляем параметр категорий в объект запроса
                if (categoriesArray.length > 0) {
                    filterData["categories"] = categoriesArray;
                }
                //В любом случае одна из радио-кнопок сортировки выбрана,
                //добавляем параметр сортировки в объект запроса
                filterData["sort"] =
                    $('form#order-rules input[type=radio]:checked').attr('id');

                populateArticlesGrid(filterData);
            };

            $(document).unbind('change');
            $(document).on(
                'change'
                , '#shopping-root #categories input[type=checkbox]'
                , function () {

                    doFilter();
                });

            $(document).on(
                'change'
                , 'form#order-rules input[type=radio]:checked'
                , function () {

                    doFilter();
                });

            var showCart = function () {

                $.ajax({
                    url: "api/articles/cart?b=true"
                    , type: 'GET'
                }).done(function (resp) {

                    if (resp.error != "") {

                        alert("error: " + resp.error);
                    } else {

                        var template = Hogan.compile(
                            '<table class="table">'
                            + '<thead>'
                            + '<tr>'
                            + '<th>id</th>'
                            + '<th>name</th>'
                            + '<th>count</th>'
                            + '</tr>'
                            + '</thead>'
                            + '<tbody>'
                            + '{{#data}}'
                            + '<tr>'
                            + '<th scope="row">{{ArticleId}}</th>'
                            + '<td>{{ArticleName}}</td>'
                            + '<td>{{Count}}</td>'
                            + '<td>'
                            + '<div class="row">'
                            + '<a class="col s3 offset-s1 waves-effect waves-light btn negBtn"><i class="material-icons">exposure_neg_1</i></a>'
                            + '<a class="col s3 offset-s1 waves-effect waves-light btn plusBtn"><i class="material-icons">exposure_plus_1</i></a>'
                            + '<a class="col s3 offset-s1 waves-effect waves-light btn remBtn"><i class="material-icons">clear</i></a>'
                            + '</div>'
                            + '</td>'
                            + '</tr>'
                            + '{{/data}}'
                            + '{{^data}}'
                            + '<span>Cart is empty</span>'
                            + '{{/data}}'
                            + '</tbody>'
                            + '</table>'
                        );
                        //Заполняем шаблон данными и помещаем на веб-страницу
                        $('#modal .modal-content').html(template.render(resp));

                        $(".plusBtn").unbind("click");
                        $('.plusBtn').click(function (ev) {

                            ev.preventDefault();
                            var artId = $(this).parent().parent().parent().children('th').text();
                            console.log(artId);
                            $.ajax({
                                url: "api/articles/fromcart"
                                , data: { 'artid': artId, 'type': "add" }
                                , type: 'GET'
                            }).done(function (resp) {

                                if (resp.error != "") {

                                    alert("error: " + resp.error);
                                } else {
                                    console.log("One item added to the cart");
                                    //$cartHref.click();
                                    showCart();
                                }
                            }).fail(function () {

                                alert("error");
                            });
                        });

                        $(".negBtn").unbind("click");
                        $('.negBtn').click(function (ev) {

                            ev.preventDefault();
                            //var artId = $(this).attr('id');
                            var artId = $(this).parent().parent().parent().children('th').text();
                            //console.log(artId);
                            $.ajax({
                                url: "api/articles/fromcart"
                                , data: { 'artid': artId, 'type': 'neg' }
                                , type: 'GET'
                            }).done(function (resp) {

                                if (resp.error != "") {

                                    alert("error: " + resp.error);
                                } else {
                                    console.log("One item remove from cart");
                                    //$cartHref.click();
                                    showCart();
                                }
                            }).fail(function () {

                                alert("error");
                            });
                        });

                        $(".remBtn").unbind("click");
                        $('.remBtn').click(function (ev) {

                            if (confirm("remove all items?")) {

                                ev.preventDefault();
                                //var artId = $(this).attr('id');
                                var artId = $(this).parent().parent().parent().children('th').text();
                                //console.log(artId);
                                $.ajax({
                                    url: "api/articles/fromcart"
                                    , data: { 'artid': artId, 'type': 'rem' }
                                    , type: 'GET'
                                }).done(function (resp) {

                                    if (resp.error != "") {

                                        alert("error: " + resp.error);
                                    } else {
                                        console.log("All items remove from cart");
                                        //$cartHref.click();
                                        showCart();
                                    }
                                }).fail(function () {

                                    alert("error");
                                });
                            } else {
                                alert("ok!");
                            }
                        });
                    }
                }).fail(function () {

                    alert("error");
                });
            };

            $cartHref.unbind('click');
            $cartHref.click(showCart);

            setTimeout(preloaderHide, 500);
        };
    });
</script>